[submodule "dependencies/soil2"]
	path = dependencies/soil2
	url = https://github.com/SpartanJ/soil2
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/jonestristand/assimp.git
