[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/soil2"]
	path = dependencies/soil2
	url = https://github.com/SpartanJ/soil2
[submodule "dependencies/PerlinNoise"]
	path = dependencies/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise
[submodule "dependencies/bullet3"]
	path = dependencies/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/jonestristand/assimp.git
[submodule "dependencies/SOIL2"]
	path = dependencies/SOIL2
	url = https://github.com/SpartanJ/SOIL2.git
[submodule "dependencies/GLSL-Shader-Includes"]
	path = dependencies/GLSL-Shader-Includes
	url = https://github.com/tntmeijs/GLSL-Shader-Includes.git
[submodule "dependencies/jsoncpp"]
	path = dependencies/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
